/* =========== for all dekstop version css ============*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: #565656;
    max-width: 100%;
    margin: auto;
}
a:hover{
	outline: none;
	text-decoration: none;
	font-style: none;
}
.pad-0{
	padding: 0;
}
#container{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
}
.row{
	margin: 0;
}











/* =========== for responsive mobile ============*/
@media only screen and (max-width:769px) {
	/* code here only for < max-width 769px */
}